* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  color: black;
  text-decoration: none;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}



/* 로그인 페이지 스타일링 */

.login-contents-container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edecec;
}

.login-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #ddd;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.Login-title-container{
    text-align: center;
}

.Login-title-container a{
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  color: #222;
}

.Login-title-container p{
    color: #555;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    letter-spacing: 0.2px;
    font-weight: 300;
    font-size: 1.05rem;
}

.login-container form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-container input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 0.8rem;
}

input::placeholder{
    font-size: 0.8rem;
    color: #aaa;
}

input:focus{
    outline: none;
    border-color: #111;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.login-btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-btn{
    padding: 10px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', 'Pretendard', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

button:focus{
    outline: none;
    border-color: #111;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.login-btn:hover{
    background-color: #555;
}

.signup-btn{
    padding: 8.5px;
    font-size: 16px;
    background-color: white;
    color: #222;
    border: 2px solid #222;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', 'Pretendard', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.signup-btn:hover{
    background-color: #f0f0f0;
}

.gtranslate-wrapper-login{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* 로그인 페이지 스타일링 */


/* 모바일 UI */
@media (max-width: 767px) {

.login-box{
    padding: 2rem;
}

}