* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  color: black;
  text-decoration: none;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}


/* 스킨케어 타이틀창 */

.SkincareList-bg{
  padding: 3rem 0;
}

.SkincareList-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 5rem;
}

.SkincareList-title-container h1{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1px;
}

.SkincareList-title-container h2{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  color: #888;
  font-size: 1rem;
  line-height: 1;
  margin-top: 5px;
}
/* 스킨케어 타이틀창 */


/* 스킨케어 베스트 제품 섹션창 */
.Best-bg2 .swiper{
  max-width: 1400px;
  padding: 0 2.5rem;
}
/* 스킨케어 베스트 제품 섹션창 */

/* 상품 정렬 섹션 */
.itemarray-container{
  display: flex;
  max-width: 82.5rem;
  margin: 2rem auto;
  justify-content:space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.itemarray-box{
  display: flex;
  gap: 1rem;
}

.itemarray{
  cursor: pointer;
  font-size: 0.9rem;
}

/* 상품 정렬 섹션 */

/* 스킨케어 리스트창 */
.skincare-box{
  display: flex;
  gap: 1rem;
  max-width: 1400px;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skincare-item-container{
  flex: 0 0 250px;       
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skincare-item{
  width: 250px;
  height: 370px;   
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skincare-item-container img{
  object-fit: cover;
  width: 100%;
  height: 280px;   
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease;
  transform-origin: bottom;
}

.skincare-item-container img:hover{
  transform: scale(1.05);
}

.skincare-text {
  flex: 1;
  margin-top: 0.5rem;        
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
}

.skincare-text h3 {
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.skincare-text h4 {
  font-size: 14px;
  font-weight: 800;
}

.skincare-text h5 {
  color: #888;
  cursor: pointer;
}

.btn-container{
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 1.5rem;
}
/* 스킨케어 리스트창 */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-num{
  font-size: 1.1rem;
  display: flex;
  gap: 0.7rem;
}

.page-info{
  margin-top: 0.3rem;
  font-size: 1rem;
}





@media screen and (min-width:1600px) {

.Best-bg2 .swiper{
  padding: 0 1.5rem;
}

.itemarray-container{
  max-width: 84.5rem;
}

.skincare-box{
  gap: 1.5rem;
}

}

@media screen and (min-width:1800px) {

.Best-bg2 .swiper{
  padding: 0 1.5rem;
}

.itemarray-container{
  max-width: 84.5rem;
}

.skincare-box{
  gap: 1.5rem;
}

}