* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 리뷰글쓰기 컨테이너 */
.ReviewPost-bg{
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 3rem 0;
}
/* 리뷰글쓰기 컨테이너 */

/* 리뷰작성 */
.ReviewPost-bg p{
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 2rem;
}
/* 리뷰작성 */

/* 글제목 */
.ReviewPost-bg input{
    width: 100%;
    height: 40px;
    padding-left: 0.2rem;
}
/* 글제목 */


/* 리뷰할 상품 */
.ReviewPost-bg select{
    width: 100%;
    height: 40px;
    margin: 0.5rem 0 1rem 0;
}
/* 리뷰할 상품 */


/* 글쓰기 */
.ql-editor {
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
}

.ql-editor p{
  margin: 0px;
  padding: 0px;
}

.ql-editor img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 8px auto;
}

.post-button{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.post-button button{
    background-color: #222;
    border: none;
    color: white;
    padding: 0.3rem 1rem;
    cursor: pointer;
}
/* 글쓰기 */





/* 모바일 UI */
@media (max-width: 767px) {
/* 리뷰글쓰기 컨테이너 */
.ReviewPost-bg{
    margin: 0 1rem;
}
/* 리뷰글쓰기 컨테이너 */

.ReviewPost-bg p{
    font-size: 1.5rem;
}
}


@media screen and (min-width:1600px) {
.ReviewPost-bg{
    max-width: 1350px;
}
}

@media screen and (min-width:1800px) {
.ReviewPost-bg{
    max-width: 1350px;
}
}