* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 리뷰상세 컨테이너 */
.ReviewDetail-bg{
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 3rem 0;
}
/* 리뷰상세 컨테이너 */


/* 리뷰 제목 */
.ReviewDetail-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 2rem;
}
/* 리뷰 제목 */


/* 작성 정보 */
.ReviewDetail-info{
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;
}
/* 작성 정보 */


.ReviewDetail-bg hr{
    margin-top: 0.5rem;
    border: 0.1px solid #ccc;
}


/* 글 본문 */
.ReviewDetail-content{
    height: auto;
    min-height: 400px;
    margin-top: 3rem;
}
/* 글 본문 */


/* 버튼 */
.ReviewDetail-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.ReviewDetail-btn button{
    width: 5%;
    border: none;
    padding: 0.3rem 0.8rem;
    background-color: #222;
    border: 1px solid #222;
    transition: all 0.3s ease;
    color: white;
    cursor: pointer;
}

.ReviewDetail-btn button:hover{
    background-color: white;
    border: 1px solid #222;
    color: black;
}
/* 버튼 */


/* 댓글창 */
.ReviewDetail-comments{
    margin: 1rem 0;
}

.comment-write textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
  padding: 0.2rem;
}

.comment-write button{
    width: 50px;
    border: none;
    padding: 0.3rem 0.8rem;
    background-color: #222;
    color: white;
    cursor: pointer;
}

.comment-item{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

.comment-item h5{
    color: gray;
    font-weight: 400;
}

.delete-btn{
    display: flex;
    gap: 0.3rem;
}

.delete-btn button{
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 0 0.2rem;
}

.delete-btn i{
    color: white;
    font-size: 10px;
}

/* 댓글창 */

/* 모바일 UI */
@media (max-width: 767px) {
    /* 리뷰상세 컨테이너 */
.ReviewDetail-bg{
    margin: 0 1rem;
}
/* 리뷰상세 컨테이너 */

/* 버튼 */
.ReviewDetail-btn button{
    width: 100%;
}
/* 버튼 */
}

@media screen and (min-width:1600px) {
.ReviewDetail-bg{
    max-width: 1350px;
}
}

@media screen and (min-width:1800px) {
.ReviewDetail-bg{
    max-width: 1350px;
}
}