* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 결제 성공 페이지 */
.Success-container{
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
}

.Success-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    flex-direction: column;
    gap: 0.2rem;
}

.Success-text-1{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: #222;
}

.Success-text-2{
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}


/* 추천 아이템 */
.recommended-products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    flex-direction: column;
    gap: 0.2rem;
}

.recommended-title{
    text-align: center;
}

.recommended-text-1{
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.recommended-text-2{
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: 0.2rem;
    border-bottom: 2px solid #E8DCC8;
}
/* 추천 아이템 */

/* 버튼 */
.select-btn{
    display: flex;
    gap: 2rem;
    margin: 4rem 0rem 0rem 0rem;
}

.select-btn-0{
    margin-top: 0rem;
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
}

.select-btn-0:hover{
    background-color: #2B2B2B;
    border: 1px solid #eee;
    color: white;
}
/* 버튼 */


/* 스와이퍼 캐러셀 */
.Effect-coverflow-Swiper {
  width: 100%;
  height: 250px;
}
/* 스와이퍼 캐러셀 */


/* 결제 성공 페이지 */






/* 결제 실패 페이지 */
.Fail-container{
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
}

.Fail-Error-box{
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;
}

.Fail-Error-text1{
    font-size: 1.8rem;
    font-weight: 300;
}

.Fail-Error-text2{
    font-size: 1.2rem;
    font-weight: 300;
}

.sad-icon{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}


/* 결제 실패 페이지 */









@media screen and (min-width:1600px) {

.Success-container{
    max-width: 1350px;
}

.Fail-container{
    max-width: 1350px;
}
}

@media screen and (min-width:1800px) {

.Success-container{
    max-width: 1350px;
}

.Fail-container{
    max-width: 1350px;
}
}