* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 위시리스트 타이틀 */
.Wishlist-container{
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}

.Wishlist-title-box{
    display: flex;
    gap: 1.8rem;
    padding: 4rem 0rem 2rem 0rem;
}

.Wishlist-title-box .Wishlist-title-p1{
    font-size: 2rem;
    font-weight: 300;
    color: #2B2B2B;
    letter-spacing: 0.5px;
}

.Wishlist-title-box .Wishlist-title-p2{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 200;
    color: #2B2B2B;
    letter-spacing: 0.5px;
}
/* 위시리스트 타이틀 */


/* 위시리스트 배너 */
.Wishlist-banner-container{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 5rem;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.Wishlist-banner-container > div:nth-child(1) { width: 40%; }
.Wishlist-banner-container > div:nth-child(2),
.Wishlist-banner-container > div:nth-child(3),
.Wishlist-banner-container > div:nth-child(4) {
    width: 20%;
    text-align: center;
}
/* 위시리스트 배너 */


/* 위시리스트 아이템 */
.Wishlist-item-container{
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.Wishlist-item-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    height: auto;
    border-bottom: 2px solid #eee;
}

.Wishlist-item-box > div:nth-child(1) { width: 40%; }
.Wishlist-item-box > div:nth-child(2),
.Wishlist-item-box > div:nth-child(3),
.Wishlist-item-box > div:nth-child(4) {
    width: 20%;
    text-align: center;
}

.Wishlist-item-container img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: -4.1rem;
}

.Wishlist-item-img{
    display: flex;
    gap: 1rem;
}

.Wishlist-item-img h3{
    font-size: 0.7rem;
    color: #666;
}

.cart-box{
    font-size: 1.1rem;
    cursor: pointer;
}

.close-button{
    font-size: 1.1rem;
    cursor: pointer;
}
/* 위시리스트 아이템 */



/* 아이템이 없을때 */
.not-item-msg{
    font-size: 1rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}
/* 아이템이 없을때 */



@media screen and (min-width:1600px) {

.Wishlist-container{
    max-width: 1350px;
}

}

@media screen and (min-width:1800px) {

.Wishlist-container{
    max-width: 1350px;
}

}