* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}


/* 회원가입 쿠폰 지급 팝업창 */
.AD-container {
  justify-content: center;
  display: flex;
  position: fixed;  
  top: 0;
  width: 100vw;
  height: 100px;
  pointer-events: none;
  z-index: 999;
}

.AD-container a{
    color: white;
}

.AD-item1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3rem;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.AD-item1 a:hover{
    color:#5CE1E6;
    transition: all 0.3s ease;
}

.AD-item2{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    margin-right: 20px;
  height: 3rem;
  color: white;
  gap: 0px 5px;
  font-size: 12px;
  pointer-events: auto;
}
/* 회원가입 쿠폰 지급 팝업창 */


/* <!-- 상단 옵션창 --> */
.menu-container{
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  display: flex;
  width: 100%;
  height: 3.5rem;
  /* border-bottom: 2px black solid; */
}

.option-container{
  display: flex;
  gap: 1rem;
  font-size: 14px;
}

.option-container a{
  color: gray;
}

.option-container button{
  color: gray;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.menuicon-container{
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.menuicon-container a{
  color: black;
} 
/* <!-- 상단 옵션창 --> */


/* <!-- 헤더 타이틀 + 상품카테고리창  --> */
.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
}

.title-container a{
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  color: #222;
}

.Category-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  gap: 3rem;
  border-bottom: 2px solid #f5f5f5;
}

.Category-item a{
  color: black;
  transition: color 0.3s ease;
}

.Category-item a:hover {
  color: #C8A2C8;
}

.underline{
  height: 2px;
  width: 0px;
  background-color: #C8A2C8;
  transition: width 0.3s ease;
}

.Category-item:hover .underline{
  width: 100%;
}

/* <!-- 헤더 타이틀 + 상품카테고리창  --> */


/* 푸터 섹션 */

.Footer{
  width: 100%;
  background-color: black;
}

.Footer-container{
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  padding: 3rem 0rem;
  background-color: black;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  height: 500px;
}

.Footer-top-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Footer-top1 a{
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.Footer-top1 a:hover{
  color: #ccc;
}

.Footer-top2{
  display: flex;
  gap: 15px;
  margin-top: 1rem;
}

.Footer-top2 a{
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.Footer-top2 a:hover{
  color: #ccc;
}

.Footer-bottom-container{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
}

.Footer-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Footer-info p{
  color: white;
}

.Footer-info-bottom{
  margin-top: 3rem;
}

.Footer-info-tell{
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 15px;
  color: white;
}

/* 푸터 섹션 */

@media screen and (min-width:1600px) {

.Footer-container{
  max-width: 1350px;
}

}

@media screen and (min-width:1800px) {

.Footer-container{
  max-width: 1350px;
}

}