* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin-top: 3rem;
    overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 고객센터 BG */
.HelpCenter-bg{
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
}
/* 고객센터 BG */

/* 고객센터 타이틀 */
.HelpCenter-Top-box{
    margin: 3rem 0 0 0;
}

.HelpCenter-Top-box p{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 0;
}

.HelpCenter-input-box{
    position: relative;
}

.HelpCenter-input-box input{
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    border: none;
    background-color: #f4f4f4;
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem;
}

.HelpCenter-search-icon{
  padding: 1.1rem;
  position: absolute;
  right: -2%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 1.1rem;
  color: #888;
  cursor: pointer;
}
/* 고객센터 타이틀 */

/* 자주묻는 질문 */
.HelpCenter-FNQ{
    padding: 1.5rem 0;
    width: 11.8rem;
}

.HelpCenter-FNQ p{
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 3px solid plum;
}
/* 자주묻는 질문 */

/* 자주묻는 질문 BG + 항목 */
.HelpCenter-FNQ-List-bg{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.HelpCenter-FNQ-box{
    height: auto;
}

.FNQ-Headers{
    background-color: #f5f5f5;
    padding: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.FNQ-Body {
    padding-left: 1rem;
    max-height: 0;
    opacity: 0;
    transition: 
    max-height 0.35s ease-in-out,
    opacity 0.20s ease-in-out,
    padding 0.3s ease-in-out,
    transform 0.3s ease ;
}


.FNQ-Body.open{
    max-height: 999px;
    opacity: 1;
    padding: 1rem;
}
/* 자주묻는 질문 BG + 항목 */

/* 페이지네이션 버튼 */
.HelpCenter-FNQ-Pagination{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
}

.HelpCenter-FNQ-Pagination button{
    width: 80px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 0.78rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    color: #222;
    transition: all 0.3s ease;
}

.HelpCenter-FNQ-Pagination button:hover{
    background-color: #222;
    color: white;
    border: 1px solid #eee;
}

.HelpCenter-FNQ-Pagination p{
    font-size: 0.78rem;
    padding: 0.5rem 0 0 0;
}
/* 페이지네이션 버튼 */















/* 모바일 UI */
@media (max-width: 767px) {
/* 고객센터 BG */
.HelpCenter-bg{
    margin: 0 1rem;
}
/* 고객센터 BG */

/* 고객센터 타이틀 */
.HelpCenter-Top-box p{
    font-size: 1.3rem;
}

.HelpCenter-search-icon{
  right: -10%;
  font-size: 1rem;
}
/* 고객센터 타이틀 */

/* 자주묻는 질문 */
.HelpCenter-FNQ p{
    font-size: 1.2rem;
}
/* 자주묻는 질문 */

/* 자주묻는 질문 BG + 항목 */
.HelpCenter-FNQ-List-bg{
    font-size: 0.85rem;
}
/* 자주묻는 질문 BG + 항목 */

/* 페이지네이션 버튼 */
.HelpCenter-FNQ-Pagination button{
    width: 50px;
}
/* 페이지네이션 버튼 */
}
/* 모바일 UI */

/* 미디어 쿼리 */

@media screen and (min-width:1600px) {
    .HelpCenter-bg{
    max-width: 1350px;
}
}

@media screen and (min-width:1800px) {
    .HelpCenter-bg{
    max-width: 1350px;
}
}

/* 미디어 쿼리 */